{% include '@telnowedge/js/destination.js.twig' %}
{% import '@telnowedge/Form/macro/usedBy.html.twig' as macro %}

<div class="fpbx-container container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="display no-border">
        <div class="container-fluid">
          <div class="section-title">
            <div class="row">
              <div class="form-group">
                <h3>
                  {{ 'Edit fagi' | fpbxtrans }}
                </h3>
              </div>
            </div>
            {{ macro.usedBy(usedBy) }}
          </div>
          <div class="section">
            <form
              class="popover-form fpbx-submit"
              name="frm_fagi"
              method="post"
              action=""
              data-fpbx-delete="{{ id is null ? '' : 'config.php?display=fagi&id=' ~ id ~ '&action=del' }}"
            >
              {{ form_widget(form) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   $('#duplicate').on('click', function () {
     $('<input />', {
       name: 'duplicate',
       value: true,
       type: 'hidden',
       class: 'hidden'
     })
       .appendTo('form.fpbx-submit')
     ;
   });

   $('.used-by > [data-toggle="popover"]').popover();
 });
</script>

<script type="text/javascript">
 $(document).ready(function() {
   processForm('#{{form.vars.name}}_trueGoto_Category', '#{{form.vars.name}}_trueGoto_Destination');
   processForm('#{{form.vars.name}}_falseGoto_Category', '#{{form.vars.name}}_falseGoto_Destination');
 });
</script>
